


#homepage {
	background-color: 	#483D8B;
}


li, a {
	color:#FFFFFF;
}

h1, p {
	color:#FFFFFF;
}







#italy {
	background-color: 	#4682B4;
}



#phillipines{
	background-color: #5F9EA0;
}



#bali{
	background-color: #1E90FF;
}



#armenia{
	background-color: #86AFC9;
}